html, body {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  touch-action: manipulation;
  font-size: calc(10000vw / 1920);
}

body {
  margin: 0;
  font-family: Arial, "Microsoft YaHei", Helvetica, sans-serif;
  letter-spacing: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: unset;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.wrapper {
  height: 100%;
  font-size: 0.24rem;
  color: #6f6f6f;
  height: 100%;
}