.header {
  height: 2rem;
  width: 100vw;
  background: #282c34;
  display: flex;
  
  .main-title {
    width: inherit;
    display: flex;
    font-size: .5rem;
    color: #ccc;
    align-items: center;
    justify-content: center;
  }
  
}

.content {
  padding: .5rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  .input-area {
    display: flex;
    flex-direction: column;
  }
    
  .input-info {
    width: 8rem;
    height: 2rem;
    font-size: .35rem;
    border: .03rem solid #5c5c5c;
    border-radius: .1rem;
    padding: .1rem .2rem;
    color: #282c34;
    margin: 0 auto;
  }
  
  .button-bar {
    display: flex;
    justify-content: center;
  }
  
  .clear-button, .submit-button {
    font-size: .32rem;
    margin: .15rem .2rem;
    text-align: center;
    line-height: .8rem;
    width: 2rem;
    color: white;
    border-radius: .1rem;
  }
  
  .clear-button {
    background: #FC929E;
    &:hover {
      background: #973F47;
    }
  }
  
  .submit-button {
    background: #61dafb;
    &:hover {
      background: #288EA8;
    }
  }
  
  .separate-line {
    width: inherit;
    height: 0.03rem;
    background: #6f6f6f;
    display: block;
  }
  
}
