.header {
  height: 2rem;
  width: 100vw;
  background: #282c34;
  display: flex;
  
  .main-title {
    width: inherit;
    display: flex;
    font-size: .5rem;
    color: #ccc;
    align-items: center;
    justify-content: center;
  }
}

.content {
  padding: .5rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  .input-area {
    display: flex;
    flex-direction: column;
    border-bottom: .03rem solid #6f6f6f;
  }

  .input-info {
    width: 8rem;
    height: 2rem;
    font-size: .35rem;
    border: .03rem solid #5c5c5c;
    border-radius: .1rem;
    padding: .1rem .2rem;
    color: #282c34;
    margin: 0 auto;
  }
  
  .button-bar {
    display: flex;
    justify-content: center;
  }
  
  .button {
    font-size: .32rem;
    margin: .15rem .2rem;
    text-align: center;
    line-height: .8rem;
    width: 2rem;
    color: white;
    border-radius: .1rem;
  }
  
  .clear-button {
    background: #FC929E;
    &:hover {
      background: #973F47;
    }
  }
  
  .submit-button {
    background: #61dafb;
    &:hover {
      background: #288EA8;
    }
  }

  .tool-bar {
    display: flex;
    justify-content: space-between;
    font-size: .4rem;
    padding: .3rem .2rem;
    border-bottom: .03rem solid #6f6f6f;
  }

  .select-all {
    display: inline-flex;
  }

  .delete-button {
    background: #973F47;
    &:hover {
      background: #80391e;
    }
  }

  .list-content {
    padding: 0 .2rem;
    transition: ease .2s;
  }

  .list {
    display: flex;
    align-items: center;
    padding: .3rem 0;
    border-bottom: .03rem dashed #6f6f6f;
  }

  .check-box {
    width: .5rem;
    height: .5rem;
    border: .06rem solid #8dc891;
    margin-right: .3rem;
    border-radius: .1rem;
  }

  .checked {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: .2rem;
      height: .2rem;
      border-left: .06rem solid #8dc891;
      border-bottom: .06rem solid #8dc891;
      transform: rotate(-45deg);
      left: .1rem;
      top: .05rem;
    }
  }

  .list-item {
    align-items: center;
    vertical-align: middle;
    font-size: .3rem;
    width: 100%;
  }
}
